
html, body {
        background-color: #222222;
}

html, body, .height-100-per-cent {
        height: 100%;
}

.eni-heading {
        text-align: center;
        color: #ffffff;
}

.eni-button-primary {

        background-color: #E50914 ;
        color: #080808;
        font-weight: bold;
}

.eni-home-main-img {
        width: 200px;
}


.eni-common-page-padding {
        padding : 3rem;

}

.eni-common-page-padding-top-bottom-only {
        padding-top : 3rem;
        padding-bottom: 3rem;
}

.eni-star-check{
        color: orange;
}



.eni-black-background {
        background-color: #151515;
        color: white;
}

h3.eni-white-font.uk-card-title {
       color: #ffffff;
        font-weight: bold;
}