<!DOCTYPE html>
<html lang="en">
<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!--    My CSS-->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>Accueil</title>

</head>
<body>

<!--Le bloc qui contient les éléments de la page-->
<div>
    <!--    Image d'accueil-->
    <div>
        <img src="movie-list.png" alt="" class="uk-width-1-2">
    </div>

    <!--    Nom du site et msg de bienvenue-->
    <div>
        <H1 class="uk-width-1-1 eni-h1 uk-heading-large uk-text-bold">Bienvenue dans MovieList</H1>
    </div>


    <!--    Bouton d'accès au site-->
    <div>
        <input type="button" value="Conexion" class="uk-width-1-1 uk-button uk-button-primary">
    </div>

</div>
</body>
</html>