<!DOCTYPE html>
<html lang="en">
<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!--    My CSS-->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>Accueil</title>

</head>
<body>

<!--Le bloc qui contient les éléments de la page-->
<div>

    <!--    Nom du site et msg de bienvenue-->
    <div>

        <H1>Bienvenue dans MovieList</H1>
    </div>
    <!--    Image d'accueil-->
    <div>
        <img src="dummy-img.jpg" alt="">
    </div>

    <!--    Bouton d'accès au site-->
    <div>
        <input type="button" value="Conexion">
    </div>

</div>
</body>
</html>