<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Responsive design-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- FonAwesome CSS -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css"/>


    <!--    My CSS-->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>Accueil</title>

</head>
<body>

<!--Le bloc qui contient les éléments de la page-->
<div class="eni-common-page-padding height-100-per-cent">
    <!--    Image d'accueil-->
    <div>
        <img src="movie-list.png" alt="" class="uk-width-1-2 uk-align-center eni-home-main-img">
    </div>

    <!--    Nom du site et msg de bienvenue-->
    <div>
        <H1 class="uk-width-1-1 uk-heading-large uk-text-bold eni-heading">Bienvenue dans MovieList</H1>
    </div>


    <!--    Bouton d'accès au site-->
    <div>
        <input type="button" value="Entrer dans le site" onclick="window.location.href = 'liste-films'"
               class="uk-width-1-1 uk-button eni-button-primary">
    </div>


</div>
</body>
</html>