<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!--    Responsive design-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- FonAwesome CSS -->
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css"/>

    <!--    My CSS-->
    <link rel="stylesheet" href="/eni-theme.css">

    <meta charset="UTF-8">
    <title>Fiche film</title>
</head>
<body>

<!--Le bloc qui contient les éléments de la page-->
<div class="eni-common-page-padding height-100-per-cent">

    <!--    Breadcrumb-->
    <nav aria-label="Breadcrumb" class="uk-width-1-1 uk-text-center">
        <ul class="uk-breadcrumb">
            <li><a href="/"></a>Accueil</li>
            <li><a href="liste-films"></a>Liste des films</li>
            <li><span aria-current="description-film">Description du film</span></li>
        </ul>
    </nav>
    <!--    Titre de la page-->
    <div>
        <h1 th:text="${movie.title}" class="uk-width-1-1 uk-heading-large uk-text-bold eni-heading" >Titre du film</h1>
    </div>

    <!--    Image du film-->
    <div>
        <img th:src="@{'/'+${movie.uri}}">
    </div>

    <!--    Description du film-->

    <div>
        <p th:text="${movie.synopsis}">description du film</p>
    </div>
</div>
</body>
</html>