<!DOCTYPE html>
<html lang="en">
<head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!--    My CSS-->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>Fiche film</title>
</head>
<body>

<!--Le bloc qui contient les éléments de la page-->
<div class="eni-common-page-padding height-100-per-cent">
    <!--    Titre de la page-->
    <div>
        <h1 class="uk-width-1-1 uk-heading-large uk-text-bold eni-heading"> Forrest Gump</h1>
    </div>

    <!--    Image du film-->
    <div>
        <img src="forrest-gump.jpg" alt="">
    </div>

    <!--    Description du film-->

    <div>
        <p>Quelques décennies d'histoire américaine, des années 1940 à la fin du XXème siècle, à travers le regard et l'étrange odyssée d'un homme simple et pur, Forrest Gump.</p>
    </div>
</div>
</body>
</html>