<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste de films</title>
</head>
<body>
<!--Bloc qui contient tous les éléments de la page-->
<div>

    <!--    Titre de la page-->
    <div>
        <h1>Tous les films</h1>
    </div>
    <!--    Bloc qui contient la liste des films-->
    <div>
        <!--        Un film-->
        <div>
            <h2>Titre du film</h2>
            <img src="dummy-img.jpg" alt="">
            <p>Phrase d'accroche pour donner envie</p>
            <button>Accéder au film</button>
        </div>
        <!--        Un film-->
        <div>
            <h2>Titre du film</h2>
            <img src="dummy-img.jpg" alt="">
            <p>Phrase d'accroche pour donner envie</p>
            <button>Accéder au film</button>
        </div>
    </div>
</div>
</body>
</html>