<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <!--    Responsive design-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="/vendor/uikit/js/uikit.min.js"></script>
    <script src="/vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- FonAwesome CSS -->
    <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css"/>

    <!--    My CSS-->
    <link rel="stylesheet" href="/eni-theme.css">

    <meta charset="UTF-8">
    <title>Les films</title>
</head>
<body>

<div class="uk-container">

    <!--    Titre de la page-->
    <h1 class="uk-width-1-1 uk-heading-large uk-text-bold eni-heading">Les films</h1>


    <!--Demo des th ThymeLeaf-->
    <!--    <li th:each="movie : ${movies}" th:text="${movie.id}"></li>-->
    <!--    <li th:each="movie : ${movies}" th:text="${movie.title}"></li>-->
    <!--    <li th:each="movie : ${movies}" th:text="${movie.year}"></li>-->
    <!--    <li th:each="movie : ${movies}" th:text="${movie.duration}"></li>-->
    <!--    <li th:each="movie : ${movies}" th:text="${movie.synopsis}"></li>-->


    <!--    Une card vide pour un film-->

    <div th:each="movie : ${movies}"
         class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin  uk-grid">
        <div class="uk-card-media-top uk-cover-container">
            <img th:src="@{'/'+${movie.uri}}" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body eni-black-background">
                <h3 th:text="${movie.title}" class="uk-card-title eni-white-font">Titre</h3>
                <p th:text="'Année de sortie : ' + ${movie.year}"></p>
                <p th:text="'Durée : ' + ${movie.duration} +'min'"></p>
                <div></div>

                <div>
                    <i th:each="star: ${maxStars}" class="fa fa-star"
                       th:classappend="${movie.getStarReviews() >= star} ? 'eni-star-check' : ''"></i>
                </div>
                <p th:text="${movie.synopsis}">Description du film</p>
            </div>
        </div>
    </div>


    <!--   &lt;!&ndash;    Un film &ndash;&gt;-->
    <!--    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>-->
    <!--        <div class="uk-card-media-top uk-cover-container">-->
    <!--            <img src="forrest-gump.jpg" alt="" uk-cover>-->
    <!--            <canvas width="600" height="400"></canvas>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <div class="uk-card-body">-->
    <!--                <h3 class="uk-card-title">Forrest Gump</h3>-->
    <!--                <div>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                </div>-->
    <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    &lt;!&ndash;    Un film &ndash;&gt;-->
    <!--    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>-->
    <!--        <div class="uk-flex-last@s uk-card-media-top uk-cover-container">-->
    <!--            <img src="into-the-wild.webp" alt="" uk-cover>-->
    <!--            <canvas width="600" height="400"></canvas>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <div class="uk-card-body">-->
    <!--                <h3 class="uk-card-title">Into the Wild</h3>-->
    <!--                <div>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                    <i class="fa fa-star eni-star-check"></i>-->
    <!--                </div>-->
    <!--                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->


</div>
</body>
</html>