<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Responsive design-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="vendor/uikit/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="vendor/uikit/js/uikit.min.js"></script>
    <script src="vendor/uikit/js/uikit-icons.min.js"></script>

    <!-- FonAwesome CSS -->
    <link rel="stylesheet" href="vendor/fontawesome/css/all.min.css"/>

    <!--    My CSS-->
    <link rel="stylesheet" href="eni-theme.css">

    <meta charset="UTF-8">
    <title>Les films</title>
</head>
<body>

<div class="uk-container">
    <h1 class="uk-text-center">Lesfilms</h1>

    <!--    Un film -->
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid>
        <div class="uk-card-media-top uk-cover-container">
            <img src="forrest-gump.jpg" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Forrest Gump</h3>
                <div>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
    <!--    Un film -->
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-top uk-cover-container">
            <img src="into-the-wild.webp" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Into the Wild</h3>
                <div>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                    <i class="fa fa-star eni-star-check"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>